extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Dynamically adds the project title
        h1= `${project.project_name}`

        //- Dynamically adds the project description
        p= `${project.description}`

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technologies in project.technologies
            li= technologies

        //- Button Links
        a.btn-link(href=`${project.site_link}` target="_blank") Live Demo
        a.btn-link(href=`${project.github_link}` target="_blank") GitHub Repo

    .project-img-box.box

      //- Project Images
      img.project-img(src=`${project.image_urls[0]}`, alt=`${project.project_name} first image`)
      img.project-img(src=`${project.image_urls[1]}`, alt=`${project.project_name} second image`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back